.block {
	background-color: white;
	margin: 2px;
    padding: 10px;
}

body {
	background-color: gray;
}

#category-panel {
	display: inline-block;
	width: 41%;
}

#item-panel {
	float: right;
	display: inline-block;
	width: 55%;
}

.avatar img {
    width: 150px;
    height: 150px;
}

.collection {
    color: #ca670d;
}

.collection a {
    color: #ca670d;
    text-decoration: none;
}

.collection a:hover {
    color: #0b1758;
}

.head {
    color: #0b1758;
}