.block {
	background-color: white;
    padding: 10px;
}

body {
	background-color: #e2e2e2;
}

.limited-view {
    max-width: 800px;
}

.center-view {
    margin: auto;
}

.avatar img {
    width: 150px;
    height: 150px;
}

.collection {
    color: #F16C20;
}

.collection a {
    color: #F16C20;
    text-decoration: none;
}

.collection a:hover {
    color: #0b1758;
}

a.button {
    text-decoration: none;
    color: white;
}

.head {
    color: #0b1758;
}

.header {
    background: #0b1758;
    color: white;
    margin-bottom: 20px;
}

.header-inner {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.left-column {
    align-self: center;
    color: white;
}

.right-column {
    align-self: center;
    background: #F16C20;
    height: 3em;
    width: 6em;
    line-height: 3em;
    text-align: center;
}

.inventory {
    margin: auto;
    display: flex;
    /*align-items: stretch;*/
    justify-content: flex-start;
    background-color: white;
}

#category-panel {
}

#item-panel {
    flex-grow: 1;
}

.item-category {
    color: gray;
}

.divider {
    margin: 20px 0;
    border-left: 1px solid #e2e2e2;
}

.input-item {
    margin-top: 10px;
}

.text-input {
    width: 400px;
}