.block {
	background-color: white;
	margin: 2px;
}

body {
	background-color: gray;
}

#category-panel {
	display: inline-block;
	width: 40%;
}

#item-panel {
	float: right;
	display: inline-block;
	width: 55%;
}