{% extends "base.html" %}

{% block title %}
	<title>Catalog - Latest Items</title>
{% endblock %}

{% block content %}
	<div class="block">
		{% include "header.html" %}
	</div>
	<div>
		<div class="block" id="category-panel">
			{% include "categories.html" %}
		</div>
		<div class="block" id="item-panel">
            {% if session.email %}
                <div class="crud-button">
                    <a href="{{ url_for('add_edit_gear')}}">Add an item</a>
                </div>
            {% endif %}
			{% include "latest_items.html" %}
		</div>
	</div>
{% endblock %}
