<div class="header">
    <div class="header-inner limited-view">
        <div class="left-column">
            <h1>Sport Catalog</h1>
        </div>

        <div class="flash-messages">
            <!-- Display flashed messages -->
            {% for message in get_flashed_messages() %}
            <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>

        <div class="right-column">
            {% if not session.email %}
            <a href="{{ url_for('login') }}" class="button">Log in</a>
            {% else %}
            <a href="{{ url_for('logout') }}" class="button">Log out</a>
            {% endif %}
        </div>
    </div>
</div>

