{% extends "base.html" %}

{% block title %}
	<title>Item {{ item.title }} for {{ item.category }}</title>
{% endblock %}

{% block content %}
	<div class="block">
		<h2 class="head">{{ item.title }}</h2>
		<p class="item-description">{{ item.description }}</p>
        {% if session.email %}
        <div class="crud-menu"></div>
        <span class="crud-button">
            <a href="{{ url_for('edit_gear', sport=item.category, gear=item.title) }}">Edit</a>
        </span>
        |
        <span class="crud-button">
            <a href="{{ url_for('delete_gear', sport=item.category, gear=item.title) }}">Delete</a>
        </span>
        {% endif %}
	</div>
{% endblock %}
