{% extends "form_base.html" %}

{% block form_title %}
    <title>Add/Edit Items</title>
{% endblock %}

{% block form_content %}
    <h2 class="head">
            {% if item %}
            Edit Item {{ item.title }}
            {% else %}
            Add A New Item
            {% endif %}
    </h2>
    <form action="{{ url_for('add_edit_gear') }}" method="POST">
        <div class="input-item">
            <div>
                <label for="title">Title</label>
            </div>
            <input type="text" size="30" name="title" value="{{ item.title if item else '' }}" class="text-input">
        </div>

        <div class="input-item">
            <div>
                <label for="description">Description</label>
            </div>
            <textarea rows="5" type="description" name="description"class="text-input">{{ item.description if item else '' }}
            </textarea>
        </div>

        <div class="input-item">
            <div>
                <label for="category">Sport</label>
            </div>
            <select name=category>
                {% for cat in categories %}
                    {% if item and item.category == cat %}
                    <option selected>{{cat}}</option>
                    {% else %}
                    <option>{{cat}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="input-item">
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}